{% extends "base.html" %}

{% block title %}
Item Catalog -- Welcome
{% endblock %}
    
{% block content %}
    <article>
        <header>
            <h1>Sell your stuff</h1>
            <p>Easily put items up for sale.</p>
            <p>Don't have an account? <a href="{{url_for('sign_up')}}">Sign up now!</a></p>
        </header>
        <section>
        <h2>Recently Added Items</h2>
            {% if new_items %}
                        <ul>
                        {% for new_item in new_items %}
                            <li>{{ new_item.user.username }} added {{ new_item.title }} for ${{ new_item.price }} </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No items yet.
                     {% endif %}
        </section>
    </article>
{% endblock %}
