{% extends 'base.html' %}
{% from "form_helper.html" import render_field %}

{% block title %}
    Item Catalog -- Sign In
{% endblock %}

{% block content %}
    <section>
        <h1 style="clear:both">Please Sign In</h1>
        <form>
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.username, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.remember_me, size=50) }}
                {{ render_field(form.submit, size=50) }}
            </table>
        </form>
    </section>
{% endblock %}

{%  block sidebar %}
{% endblock %}